#nav-bar {
    overflow: hidden;
    height: 100px;
    background-color: #00a087;
    color: #e8fdff;
    padding: 0 2em 0 2em;
}

#nav-bar .logo {
    float: left;
    margin-right: 10px;
    height: 100%;
}

#nav-bar .header {
    display: inline-block;
    height: 100%;
    font-size: 2rem;
    padding-top: 27px;
}